@model WebPhongTro.Models.VatDung

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VatDung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenVatdung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenVatdung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPhongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPhongNavigation.IdPhong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVatdung">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
