@model IEnumerable<WebPhongTro.Models.VatDung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<div class="main-content">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenVatdung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPhongNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenVatdung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPhongNavigation.IdPhong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVatdung">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVatdung">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVatdung">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>